<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About the Book Recommendation Dashboard</title>
  </head>
  <body>
     {% extends "template.html" %}
     {% block content %}
    <h1> About This Dashboard </h1>
    <p>This application was made using a collaborative filtering approach to Amazon Book Review Data.</p>
    <p>It asks the user to rate books, and returns recommendations
    based on what it thinks are similar books based on Amazon user reviews.</p>
    {% endblock %}
  </body>
</html>
